html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #e7c8b3;
    color: black;
    font-size: 18px;
    width: 800px;
}

h1 {
    text-align: left;
    color: black;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 48px;
}

h2 {
    text-align: left;
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 8px auto;
}

h3 {
    text-align: left;
    color: black;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}